html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}



.container {
    display: flex;
    justify-content: space-between;
    padding: 20px; /* Espaciado interno */
}

.widget {
    width: 45%; /* Ajusta el ancho según sea necesario */
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start; /* Alinear al inicio en pantallas pequeñas */
    }
    .widget {
        width: 100%; /* Ancho completo en pantallas pequeñas */
    }
}

.contact-item {
    display: flex; /* Utiliza flexbox para alinear ícono y texto en la misma línea */
    align-items: center; /* Alinea verticalmente al centro */
    margin-bottom: 10px; /* Espacio entre cada contacto */
}

.icon {
    margin-right: 10px; /* Espacio entre el ícono y el texto */
}

.content {
    margin: 0; /* Elimina márgenes por defecto */
}